{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      <h6>Here is a list of important company documents that will provide the user with more information about the company</h6>

      <p>
        <tr>
          <th><a href="https://corporatefinanceinstitute.com/resources/knowledge/finance/company-bylaws/">Company Bylaws</a></th>
          <td><a href="https://eforms.com/nda/">Non-Disclosure Agreements</a></td>
          <td><a href="https://www.merriam-webster.com/dictionary/memorandum">Memorandum</a></td>
          <td><a href="https://companydocuments.com/">Company Documents</a></td>
          <td><a href="https://www.business.com/">Other Company Information</a></td>
        </tr>

      </p>

      <p></p>
    </div>
    
  </div>
</div>
{% endblock %}