{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>
      <h6>Here is a list of important company documents that will provide the user with more information about the company</h6>

      <p>
        <ul>
          <li><a href="https://corporatefinanceinstitute.com/resources/knowledge/finance/company-bylaws/">Company Bylaws</a></li>
          <li><a href="https://eforms.com/nda/">Non-Disclosure Agreements</a></li>
          <li><a href="https://www.merriam-webster.com/dictionary/memorandum">Memorandum</a></li>
          <li><a href="https://companydocuments.com/">Company Documents</a></li>
          <li><a href="https://www.business.com/">Other Company Information</a></li>
        </ul>

      </p>

      <p></p>
    </div>
    
  </div>
</div>
{% endblock %}