{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>We are Arlington’s leading Residential Rental Brokerage Company with years of experience in the rental market assisting Individuals, Landlords, Property Managers and Investors. 
          We are the specialists in securing qualified tenants for their rental homes, townhouses, apartments and condominiums in Arlington/Belmont/Somerville/Medford area and throughout the surrounding communities.
        </p>
        
        <p>At The Rental Group, we are committed to understanding your individual needs.  We promise to provide you with a level of service that will exceed your expectations.  Unrivaled results come from sincere effort combined with intelligent direction and proficient execution.
           </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>

        <ul>
          <li>We are proud to announce that 2021 has been our most successful year to date! As a whole, we have rented 771 properties, thanks to the help of our amazing and hard-working team!</li>
          <li>On March 23, we will be inviting 4 more members to the team! They each have solid expereince in rental sales, so we cannot wait for them to join!</li>
      
        </ul>
        

      


        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </p>
      </div>
    </div>
  </div>
{% endblock %}